<md-sidenav-container>
  <md-sidenav (mouseover)="toggleHover(true)" (mouseout)="toggleHover(false)" (close)="sidenavToggle(false)" (open)="sidenavToggle(true)"
              [mode]="(navigation.mediumScreenAndDown && sidenavStyle !== 'off') ? 'over' : sidenavMode"
              [ngClass]="{'icon-sidenav': ((sidenavStyle === 'icon' || sidenavStyle === 'icon overlay') && navigation.largeScreen), 'over': (sidenavStyle === 'icon overlay')}">
    <app-sidenav [isHovering]="isHovering"></app-sidenav>
  </md-sidenav>
  <header [ngClass]="{'icon-sidenav-opened' : ((isHovering || (!isHovering && isHoveringNew)) && navigation.largeScreen && sidenavStyle === 'icon overlay')}">
    <app-topnav></app-topnav>
  </header>

  <main [ngClass]="{'fixed-header' : (navigation.fixedNavbar | async), 'icon-sidenav-opened' : ((isHovering || (!isHovering && isHoveringNew)) && navigation.largeScreen && sidenavStyle === 'icon overlay')}">
    <div class="container">
      <router-outlet></router-outlet>
      <div class="clearfix"></div>
    </div>
  </main>
  <footer>
    <c-footer></c-footer>
  </footer>
</md-sidenav-container>
